//==IMPORTS===============================================================
//==FUNCTION & MIXINES & VARIABLES========================================
@import 'mixin';
@import 'var';
//------------------------------------------------------------------------

//==FONTS=================================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
//------------------------------------------------------------------------

//==RESET STYLE & COMMON PARAMETERS=======================================
@import 'null';

body {
   width: 100%;
   min-height: 100%;
   &._lock {
      overflow: hidden;
   }
}

a:focus,
button:focus {
   outline: 1px auto $mainColor;
}
// ----------------------------------------------------------------------

//==MAIN WRAPPER=========================================================
.wrapper {
   position: relative;
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}
//-----------------------------------------------------------------------

//==GENERAL GRID=========================================================
._container {
   max-width: $md0 + px;
   padding: 0px 15px;
   margin: 0 auto;
}
//----------------------------------------------------------------------

//==IMPORTS=============================================================
//==IMPORT FORMS & UI SLYLE=============================================
@import 'swiper';
@import 'forms';
@import 'decoration-element';
//==IMPORT PAGES STYLE & PAGE ELEMENTS STYLE
@import 'header';
@import 'footer';
//---------------------------------------------------------------------
//=====================================================================
//==GENERAL CLASSES
//=====================================================================
._visualy-hidden {
   position: absolute;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: -1px;
}
