//========Fonts==============================
//default prime====================================
$fontFamilyPrime: Roboto, Arial, sans-serif;
$fontSizePrime: 15px;
$lineHeightPrime: 1.1;
$fontWeightPrime: 400;
$fontColorPrime: #5e5858;
//fonts-family
$fontFamilyTitle: Overpass, sans-serif;
$fontFamilyFooter: Poppins, sans-serif;

//font-size
$fzTitle: 60;
$fzSubtitle: 24;

// color=============================================
$generalColor: #5e5858;
$mainColor: #c04ae2;
$titleColor: #111111;

//----------------------------------------------------

// =======Max/Min width & Breackpoints================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md0: $maxWidthContainer + 30;
$md1: 1067.98;
$md2: 967.98;
$md3: 767.98;
$md4: 659.98;
$md5: 479.98;
//-----------------------------------------------------
